
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #8294C4;
    font-family: Arial;
    
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: #E5F9DB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: middle;
    
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden
    
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #FFEAD2;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ACB1D6;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ACB1D6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: transform 0.3s ease;
  overflow: hidden;
  transform-origin: top;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: FFEAD2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: transform 0.3s ease;
    overflow: hidden;
    transform-origin: top;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ACB1D6;
    transform: scale(1.05);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }